# Ignore data
Training_sets_and_ground_truth/

# Ignore predictions
predictions/

# Ignore pycache files
*.pyc

# Ignore Backups
backups/

# Ignore pycache
**/__pycache__/*

# Ignore train logs
**/log/*

# Ignore .DS_Store
**/.DS_Store
